---
title: "PlantUML"
linkTitle: "PlantUML"
---

{{< blocks/cover title="Welcome: A PlantUML + Docsy demo Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<h3>
		This is a showcase portal.
	</h3>
	<div class="text-left">
		<p>
			It is a exhibition panel where one can follow links and see how to publish the same documentation content in different formats, 
			as such:
		</p>
		<dl class="dl-horizontal">
			<dt>Build PDF and ePUB manuals</dt>
			<dd><i>built via CI/CD pipelines</i></dd>
			<dt>The great 🥰Gitlab❤️💖 to view the documentation content on</dt>
			<dd><i>follow repo README content</i></dd>
			<dt>This Documentation Portal</dt>
			<dd><i>This is it</i> 😉 <i>by itself</i></dd>
		</dl>
	</div>
	<br />
	<p>
		What do you do to publish your projects documentation? <br>
		And how does the stackeholders can acess it?
	</p>
	<p class="lead mt-5">Please, let me know if you have any question or suggestions!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section >}}

{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/adrianovieira/plantuml-demo" %}}
We do a [Merge Request](https://gitlab.com/adrianovieira/plantuml-demo/-/merge_requests) contributions workflow on **Gitlab**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/adriano_vieira" %}}
Some cents of my own opinions or tips.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-blog" title="My personal blog" url="https://adrianovieira.gitlab.io" %}}
Check it out
{{% /blocks/feature %}}

{{< /blocks/section >}}
