+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome: A PlantUML + Docsy Example Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Let me know if you have any question or suggestions!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section >}}

{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/adrianovieira/plantuml-demo" %}}
We do a [Merge Request](https://gitlab.com/adrianovieira/plantuml-demo/-/merge_requests) contributions workflow on **Gitlab**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/adriano_vieira" %}}
Some cents of my own opinions or tips.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-blog" title="My personal blog" url="https://adrianovieira.gitlab.io" %}}
Check it out
{{% /blocks/feature %}}

{{< /blocks/section >}}
